<script setup>
import { ref } from "vue";
const props = defineProps({
  initialCount: Number,
});
const counter = ref(props.initialCount ?? 0);
</script>
<template>
  <button @click="counter++">{{ counter }} <slot name="label">clicks</slot></button>
</template>