<script setup>
import { ref } from "vue";
const props = defineProps({
  initialCount: Number,
});
const counter = ref(props.initialCount ?? 0);
</script>

<template>
  <ul>
    <li>hello</li>
  </ul>
</template>