---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE } from "../consts";

import '../styles/normalize.css';
import '../styles/skeleton.css';

type Props = CollectionEntry<"events">["data"];

const { name, description, website, promoter, location, results } = Astro.props;

let hasContent = Astro.slots.has("default");

if (hasContent) {
  const html = await Astro.slots.render("default");
  hasContent = !(/^\s*$/.test(html));
}

const hasPromoterWebsite = (website && promoter);
---

<html lang="en">
  <head>

    <BaseHead
      title={`${name} - ${SITE_TITLE}`}
      description={description || ""}
    />

    <style lang="scss">

      body {
        min-height: 100vh;
        margin: 0;
        display: grid;
        grid-template-rows: auto 1fr auto;
      }

      #header {
        padding: 2rem 0;
        position: relative;
        margin-bottom: 30px;
        background-color: #ffc107;
        color: rgba(16, 32, 48, 0.75);

        h5 {
          margin-bottom: 0;

          &.event-name {
            position: relative;

            a {
              color: rgba(16, 32, 48, 0.75);
              display: inline-block;
              position: absolute;
              font-size: 2.8rem;
              top: -2px;

              @media (min-width: 550px) {
                display: none;
              }
            }

            span {
              margin-left: 35px;

              @media (min-width: 550px) {
                margin-left: 0;
              }
            }
          }
        }

        .rel {
          position: relative;
        }

        a.events-link {
          font-size: 1.75rem;
          color: rgba(66, 66, 66, 0.8);
          text-decoration: none;
          top: 3px;
          position: absolute;
          display: inline-flex;
          align-items: center;

          svg {
            margin-top: -5px;
            margin-right: 6px;
          }

          &:hover {
            text-decoration: underline dashed rgba(66, 66, 66, 1);
            color: rgba(66, 66, 66, 1);
          }
        }

        // drop the right-hand back link on mobile
        .nav-links {
          display: none;

          @media (min-width: 550px) {
            display: block;
          }
        }
      }

      #header > * {
        position: relative;
        z-index: 1;
      }

      #header > .container > a {
        font-size: 2.2rem;
        color: #fff;
        text-decoration: none;
        text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.65);
      }

      // this doesn't seem to work as it's trying to target into the slot??
      #content {
        h3 {
          font-size: 2.4rem !important;
        }
      }

      .sidebar {
        section {
          margin-bottom: 30px;

          h5 {
            margin-bottom: 5px;
            font-size: 2rem;
          }
        }
      }

      .heading-w-icon {
        position: relative;

        svg {
          position: absolute;
          top: 3px;
        }

        span {
          margin-left: 25px;
        }
      }

      #footer {
        background-color: #888;
        min-height: 100px; /* Set to the height of your footer */
      }
    </style>
  </head>
  <body>
    <div id="header">
      <div style="max-width: 1020px; margin: 0 auto; xborder: solid 3px #fdf;">
        <div class="container u-full-width">
          <div class="row">
            <div class="six columns">
              <h5 class="event-name">
                <a href="/events">
                  <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M16 12H8m0 0l3.5 3.5M8 12l3.5-3.5M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2S2 6.477 2 12s4.477 10 10 10"/></svg>
                </a>
                <span>{ name || 'Race Events' }</span>
              </h5>
            </div>
            <div class="nav-links six columns">
              <div class="u-pull-right rel">
                <a href="/events" class="events-link">
                  <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M16 12H8m0 0l3.5 3.5M8 12l3.5-3.5M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2S2 6.477 2 12s4.477 10 10 10"/></svg>
                  <span class="link-text">Events</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div id="main" class="row">
        <div class="two-thirds column">
          <div id="content">
            {
              hasContent ? <slot /> : <p>Seems this race has no details!</p>
            }
          </div>
        </div>
        <div class="one-third column sidebar">
          <section>
            {
              promoter &&
                <h5>Promoted By</h5>
            } {
              hasPromoterWebsite ? <a href={website} target="_blank">{promoter}</a> : <span>{promoter}</span>
            }
          </section>

          <section>
            {
              results &&
                <h5>
                  <span>Results</span>
                </h5>
                <ul>
                  {
                    results.map((r) => (
                      <li>
                        {r.link && <a href={r.link}>{r.date.toDateString()}</a>}
                        {r.file && <span>&nbsp;–&nbsp;<a href={`/results/${r.file}`}>Download</a></span>}
                      </li>
                    ))
                  }
                </ul>
            }
          </section>

          <section>
            {
              location &&
                <h5 class="heading-w-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-width="1.5"><path d="M20 10c0 4.418-8 12-8 12s-8-7.582-8-12a8 8 0 1 1 16 0Z"/><path fill="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M12 11a1 1 0 1 0 0-2a1 1 0 0 0 0 2"/></g></svg>
                  <span>Location</span>
                </h5>

                <iframe src={location}
                  width="320"
                  height="375"
                  style="border:0;"
                  allowfullscreen=""
                  loading="lazy"
                  referrerpolicy="no-referrer-when-downgrade"
                >
                </iframe>
            }
          </section>
        </div>
      </div>
    </div>

    <div id="footer">
      <div class="container">
        <div class="row">
          <div class="one column">
            <a href="https://gitlab.com/drabb" target="_blank">Gitlab</a>
            <a href="https://gitlab.com/drabb" target="_blank">Astro</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
