---
import { type CollectionEntry, getCollection } from 'astro:content';
import EventDetail from '../../layouts/EventDetail.astro';

export async function getStaticPaths() {
	const posts = await getCollection('events');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<'events'>;

const post = Astro.props;
const { Content } = await post.render();
---

<EventDetail {...post.data}>
  <Content />
</EventDetail>
