---
import { getCollection } from 'astro:content';
import BaseHead from '../../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';

import '../../styles/normalize.css';
import '../../styles/skeleton.css';

let events = (await getCollection('events'));
events.sort((a, b) => ('' + a.data.name).localeCompare(b.data.name));

const getMapLink = (embedLink: string = '') => {
  // Regular expressions to match latitude and longitude
  const latRegex = /!3d(-?\d+\.\d+)/;
  const lngRegex = /!2d(-?\d+\.\d+)/;

  // Extract latitude and longitude
  const latMatch = embedLink.match(latRegex);
  const lngMatch = embedLink.match(lngRegex);

  // Check if both latitude and longitude were found
  if (latMatch && lngMatch) {
    const lat = latMatch[1];
    const lng = lngMatch[1];

    // Construct and return the map link
    return `https://www.google.com/maps?q=${lat},${lng}`;
  } else {
    // Return null or throw an error if coordinates weren't found
    return null;
  }
};
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style lang="scss">

      #header {
        padding: 2rem 0;
        position: relative;
        margin-bottom: 30px;
        background-color: #ffc107;
        color: rgba(16, 32, 48, 0.75);

        h5 {
          margin-bottom: 0;
        }

        .rel {
          position: relative;
        }

        .nav-links {
          span {
            display: inline-block;

            // &.arrow {
              transform: rotate(180deg);
            // }
          }
        }

        a {
          font-size: 1.75rem;
          color: rgba(16, 32, 48, 0.75);
          text-decoration: none;
          top: 3px;
          position: absolute;

          &:hover {
            text-decoration: underline dashed rgba(16, 32, 48, 0.65) ;
            color: rgba(16, 32, 48, 0.5);
          }
        }
      }

      .mobile-no-no {
        display: none;

        @media (min-width: 550px) {
          display: block;
        }
      }

      #header > * {
        position: relative;
        z-index: 1;
      }

      #header > .container > a {
        font-size: 2.2rem;
        color: #fff;
        text-decoration: none;
        text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.65);
      }

      #footer {
        background-color: #888;
      }
    </style>
  </head>
  <body>
    <div id="header">
      <div style="max-width: 1020px; margin: 0 auto; xborder: solid 3px #fdf;">
        <div class="container u-full-width">
          <div class="row">
            <div class="six columns">
              <h5>Race Events</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <main>
      <section>
        <table>
          <thead>
            <tr>
              <th>Event</th>
              <th class="mobile-no-no">Region</th>
              <th>Venue</th>
            </tr>
          </thead>
          <tbody>
            {
              events.map((event) => (
                <tr>
                  <td>
                    <a href={`/events/${event.slug}/`}>
                      {event.data.name}
                    </a>
                  </td>
                  <td class="mobile-no-no">
                    { event.data.region || '–' }
                  </td>
                  <td>
                    {
                      event.data.location &&
                        <a href={ getMapLink(event.data.location || '') }>(map)</a> || '–'
                    }
                  </td>
                </tr>
              ))
            }
          </tbody>
        </table>
      </section>
    </main>
  </body>
</html>